<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  
  
<div id="main-wrapper">

  <!-- HEADER -->

  <div id="header">
    <p><a href="/"><img src="/images/header.jpg" alt="JOYBLIND"></a></p>
    <p class="login"><a href="/login">Login</a></p>
  </div><!-- header end-->


  <!-- Navigation -->
 <%= render 'layouts/navigation' %>

  <!-- CONTENT -->	
  <p id="main-content">
    
  <%= yield %>
    
  </p><!-- main-content end-->

  </div><!-- main-content end-->
</div><!-- main-wrapper end-->

</div>
</body>
</html>